<!--================================================================================================================ -->
<button (click)="transferData()">transfer</button>

<br><br>
<!--================================================================================================================-->
<input type="range" max="90" min="10" [(ngModel)]="rangeValue" [ngModelOptions]="{ standalone: true }" >
<h4>Range: {{ rangeValue }}</h4>
<br><br>
<!--================================================================================================================ -->

<button (click)="edit()">Edit</button>
<br><br>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  </thead>
  <tbody>
    @for (post of items(); track post.id) {
      <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    }
  </tbody>
</table>
<br><br>
<!--================================================================================================================ -->
